$gray-darker:     #222;
$gray-dark:       #444;
$gray:            #888;
$gray-light:      #ccc;
$gray-lighter:    #eee;
$gray-white:      #f5f5f5;
$white:           #fff;
$black:           #000;
$body-bg:         #f5f5f5;

$headings-font-family:    'BrandonTextWeb-Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$headings-font-weight:    bold !default;
