@charset "utf-8";
@import "normalize";

@import 'styleguide_variables';
@import 'ad2games-variables';

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'ad2games-theme';
@import 'ad2games-fonts';
// @import 'font-awesome-sprockets';
// @import 'font-awesome';


// sidebar

.sidebar {
  padding-top: 30px;

  a {
    border-radius: 2px 0 0 2px;
    color: $gray;

    &:hover {
      color: $brand-primary;
    }
  }

  .active {
    border: 0 $brand-primary solid;
    border-right-width: 4px;

    a {
      color: $brand-primary;
    }
  }

  &.affix-top {
    position: static;
    width: 277px;
  }

  &.affix {
    position: fixed;
    width: 277px;
  }
}

@media(max-width: 992px) {
  .left-col {
    display: none;
  }
}


// main column

.main-col {
  background-color: $white;
  border: 1px solid $gray-lighter;
  min-height: 100vh;

  h2 {
    margin-top: -65px;
    padding-top: 80px;
  }

  h3, h4 {
    color: $gray;
    font-style: italic;
    font-family: 'BrandonTextWeb-Light'
  }

  .thumbnail > img,
  .thumbnail a > img {
    max-height: 50px;
  }

  img {
    max-width: 100%;
  }

  pre,
  .well {
    border-radius: 2px 2px 0 0;
    border: 1px solid $gray-lighter;
    margin: 0;
    padding: 15px;
    width: 100%;

    + .component {
      border-radius: 0 0 2px 2px;
      border-top-color: $gray-lighter;
      margin-top: -1px;
    }

    h3:first-child {
      margin-top: 0;
    }

    &:first-child:last-child {
      border-radius: 2px;
    }
  }

  p + pre,
  p + .component,
  p + .well,
  pre + p,
  .component + p,
  .well + p {
    margin-top: $padding-base;
  }

  .component {
    border-radius: 2px 2px 0 0;
    border: 1px dashed $gray-light;
    padding: 15px;

    + pre,
    + .well {
      margin-top: -1px;
      border-radius: 0 0 2px 2px;
    }
  }

  hr {
    border-color: $body-bg;
    border-width: 15px;
    margin: 60px -10px 15px;
  }

  ul:not(.nav-tabs) {
    margin-top: $padding-base-vertical;

    li {
      margin-bottom: $padding-base-vertical;
    }
  }

  .alert-heading {
    color: inherit;
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgba($black, .1);
    margin: (-$padding-base) (-$padding-base) $padding-base (-$padding-base);
    padding: $padding-base-vertical $padding-base;
  }
}

td [data-toggle="markdown-readonly"] p:last-child {
  margin: 0;
}

.swatch {
  width: 100%;
  padding-bottom: 50%;

  &.orange { background-color: #f24725; }
  &.yellow { background-color: #f58720; }
  &.light { background-color: #d4d9df; }
  &.dark { background-color: #333b48; }
  &.darker { background-color: #253335; }
  &.greyscale {
    padding-bottom: 5%;
    background-color: #ffffff;
    background-image: -webkit-linear-gradient(left, #ffffff, #000000);
    background-image:    -moz-linear-gradient(left, #ffffff, #000000);
    background-image:      -o-linear-gradient(left, #ffffff, #000000);
    background-image:         linear-gradient(to right, #ffffff, #000000);
  }
}

.font-demo {
  font-size: 2em;
}

.brandon-text-bold { font-family: 'BrandonTextWeb-Bold' }
.brandon-text { font-family: 'BrandonTextWeb-Regular' }
.montserrat { font-family: 'montserrat', sans-serif; }
.open-sans { font-family: 'Open Sans', sans-serif; }
.source-code-pro { font-family: 'Source Code Pro', monospace; }

.grid-heading {
  margin-bottom: 0;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "feature feature"
    "main main";

  @media(min-width: 1200px) {
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-areas:
      "feature feature feature"
      "main main main";
  }

  @media(max-width: 768px) {
    grid-template-columns: 100%;
    grid-template-areas:
      "feature"
      "main";
  }

  &.row::before {
    content: none;
    display: none;
  }

  .cell {
    padding: 0 10px 15px;
    margin: 0 5px 15px;

    &.feature {
      grid-area: feature;

      iframe {
        height: 275px;
        width: 100%;
        pointer-events: none;
        background: $gray-white url('https://d1gaycsr18p7io.cloudfront.net/styleguide/padlock.png') no-repeat center;

        @media(max-width: 768px) {
          height: 150px;
        }
      }
    }
  }
}

// Overrides

.hljs {
  background: transparent;
}
